@page "/game/{id}"
@using MudBlazor
@using System.Text.Json;
@using System.Text;
@using System.Net.Http.Headers;
@using BlazorQuiz.Shared.ViewModels;
@inject HttpClient _httpClient
@inject ILocalStorageService _localStorage 


@currentTimer;
@count;

Game finished: @gameFinnished

@if (gameFinnished == true)
{
    <div class="ma-5 d-flex align-center justify-center">
        <p style="padding-top:200px">Final score: @score</p>
    </div>
}
else if (quizData2.questions != null)
{
    <div class="ma-5 d-flex align-center justify-center">
        <MudGrid Class="d-flex align-center justify-center">
            <MudText Typo="Typo.h4">@quizData2.title</MudText>
          
            <MudItem xs="12" Class="d-flex align-center justify-center">
                <MudGrid>
                    <MudItem xs="12" Class="d-flex align-center justify-center">
                        <MudCard Style="width: 80vw; background: gray;">
                            <MudCardMedia Image="@quizData2.questions[count].QuizMediaUrl" Height="300" />
                            <MudCardContent>
                                <MudText Class="d-flex align-center justify-center" Typo="Typo.h5">@quizData2.questions[count].Question</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudItem>
            @if (hasTimer)
            {

                <MudProgressLinear Color="@(currentTimer < timerStart / 2 ? Color.Secondary : Color.Primary )" Striped="true" Size="Size.Large" Value="@currentTimer" Min="0" Max="@timerStart" Class="my-7" />
            }
            <MudItem xs="12" Class="d-flex align-center justify-center" Style="max-width: 80vw">
                <MudGrid>
                    <MudItem xs="6" Class="d-flex align-center justify-center">
                        <MudButton OnClick="() => SubmitAnswer(quizData2.questions[count].Answer1, 1)" Variant="Variant.Filled" Color="@alt1" Class="d-flex align-center justify-center mud-width-full py-8">@quizData2.questions[count].Answer1</MudButton>
                    </MudItem>
                    <MudItem xs="6" Class="d-flex align-center justify-center">
                        <MudButton OnClick="() => SubmitAnswer(quizData2.questions[count].Answer2, 2)" Variant="Variant.Filled" Color="@alt2" Class="d-flex align-center justify-center mud-width-full py-8">@quizData2.questions[count].Answer2</MudButton>
                    </MudItem>
                    <MudItem xs="6" Class="d-flex align-center justify-center">
                        <MudButton OnClick="() => SubmitAnswer(quizData2.questions[count].Answer3, 3)" Variant="Variant.Filled" Color="@alt3" Class="d-flex align-center justify-center mud-width-full py-8">@quizData2.questions[count].Answer3</MudButton>
                    </MudItem>
                    <MudItem xs="6" Class="d-flex align-center justify-center">
                        <MudButton OnClick="() => SubmitAnswer(quizData2.questions[count].Answer4, 4)" Variant="Variant.Filled" Color="@alt4" Class="d-flex align-center justify-center mud-width-full py-8">@quizData2.questions[count].Answer4</MudButton>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </div>
}
else
{
    <div class="ma-5 d-flex align-center justify-center">
        <p style="padding-top:200px">loading...</p>
    </div>
}




@code {

    [Parameter]
    public string id { get; set; }

    GameQuizViewModel quizData2 = new GameQuizViewModel();

    bool gameFinnished = false;
    bool isCorrect;
    int count = 0;
    int score;
    bool hasTimer = false;
    int timerStart;
    int currentTimer;
    bool stoppTimer = false;

    MudBlazor.Color success = Color.Success;
    MudBlazor.Color wrong = Color.Error;
    MudBlazor.Color primary = Color.Primary;

    MudBlazor.Color alt1 { get; set; } = Color.Primary;
    MudBlazor.Color alt2 { get; set; } = Color.Primary;
    MudBlazor.Color alt3 { get; set; } = Color.Primary;
    MudBlazor.Color alt4 { get; set; } = Color.Primary;

    GuessCheckViewModel guess = new GuessCheckViewModel();
    List<GuessCheckViewModel> guesses = new List<GuessCheckViewModel>();


    protected override async Task OnInitializedAsync()
    {
        // var response = await _httpClient.GetAsync($"api/game/{id}");
        var response = await _httpClient.PostAsJsonAsync($"api/game/newgame/{id}", id);
        quizData2 = await response.Content.ReadFromJsonAsync<GameQuizViewModel>();
        StartCountdown();

    }



    private async Task StartCountdown()
    {
        if (quizData2.timer > 0)
        {
            hasTimer = true;
            timerStart = quizData2.timer * 10;
            currentTimer = quizData2.timer * 10;


            do
            {
                await Task.Delay(100);



                currentTimer -= 1;
                StateHasChanged();
            }
            while (currentTimer > 0 && !stoppTimer);

            if (currentTimer == 0)
            {

                await SubmitAnswer();
            }



        }

    }

    private async Task SubmitAnswer(string answer = "", int alternativ = -1)
    {
        //Sets guess and call DB to check answer
        stoppTimer = true;
        guess.Guess = answer;
        guess.GuessId = quizData2.questions[count].Id;


        if (hasTimer)
        {
            guess.Seconds = CalculatedTimeElapsed();
        }

        await GuessCheck(guess);
        // Green if correct, red if wrong


        if(alternativ == -1)
        {

            await TimeOut();
        }
        else
        {
        
            if (isCorrect == true){
                await CorrectColor(alternativ);
                StateHasChanged();
            }
            else
            {
                await WrongColor(alternativ);          
                StateHasChanged();
            }

            await Task.Delay(3000);
            await ResetColor(alternativ);
            StateHasChanged();
        }
        //Delay to veiw result then reset colour
        

        //Check if there are more questions left. If not submit score to DB.
        if (count < quizData2.questions.Count-1)
        {
            count++;
            ResetTimer();

            StateHasChanged();
        }
        else
            await SubmitQuiz();
        //Send to gamefinished screen to show score
    }

    private async Task TimeOut()
    {
        for(int i = 1; i <=4; i++)
        {
            await WrongColor(i);
            StateHasChanged();

        }
        await Task.Delay(3000);
        for (int i = 1; i <= 4; i++)
        {
            await ResetColor(i);
            StateHasChanged();

        }
    }


    private int CalculatedTimeElapsed()
    {
        int timeLeft = (int)Math.Ceiling(currentTimer / 10m);

        int timeElapsed = (timerStart / 10) - timeLeft;

        return timeElapsed; //Time elapsed in sec
    }

    private void ResetTimer()
    {
        stoppTimer = false;
        currentTimer = timerStart;
        StartCountdown();
    }

    private async Task CorrectColor(int alternativ)
    {
        await Task.Run(() =>
        {
            switch (alternativ)
            {
                case 1:
                    alt1 = success;
                    break;
                case 2:
                    alt2 = success;
                    break;
                case 3:
                    alt3 = success;
                    break;
                case 4:
                    alt4 = success;
                    break;
            }
        });
    }

    private async Task WrongColor(int alternativ)
    {
        await Task.Run(() =>
        {
            switch (alternativ)
            {
                case 1:
                    alt1 = wrong;
                    break;
                case 2:
                    alt2 = wrong;
                    break;
                case 3:
                    alt3 = wrong;
                    break;
                case 4:
                    alt4 = wrong;
                    break;
            }
        });
    }

    private async Task ResetColor(int alternativ)
    {
        await Task.Run(() =>
        {
            switch (alternativ)
            {
                case 1:
                    alt1 = primary;
                    break;
                case 2:
                    alt2 = primary;
                    break;
                case 3:
                    alt3 = primary;
                    break;
                case 4:
                    alt4 = primary;
                    break;
            }
        });
    }

    private async Task GuessCheck(GuessCheckViewModel guess)
    {
        var response = await _httpClient.PostAsJsonAsync($"api/game/guess", guess);
        isCorrect = await response.Content.ReadFromJsonAsync<bool>();
        var guessClone = new GuessCheckViewModel()
            {
                Guess = guess.Guess,
                GuessId = guess.GuessId,
                Seconds = guess.Seconds
            };
        guesses.Add(guessClone);
    }

    private async Task SubmitQuiz()
    {
        Console.WriteLine($"guesses count: {guesses.Count}, guessId: {guesses[0].GuessId}, guessword: {guesses[0].Guess}");

        SubmitQuizViewModel submitQuiz = new()
            {
                gameId = quizData2.gameId,
                guesses = this.guesses
            };

        var response = await _httpClient.PutAsJsonAsync($"api/game/gameresult", submitQuiz);
        score = await response.Content.ReadFromJsonAsync<int>();
        gameFinnished = true;
        StateHasChanged();
        // Add code to get data to present in score screen
    }
}
